@model WriteViewModel

@section styles {
    <link rel="stylesheet" href="~/css/write.css" />
}

@section scripts {
    <script type="text/javascript" src="~/js/write.js"></script>
}

@{
    ViewData["Title"] = "Write";
    ViewData["HeaderImg"] = "images/write.png";
    ViewData["HeaderText"] = "Text an die Zwischenablage senden";
}

<form asp-controller="Write" method="post">
    <div id="container">
        <div id="table">
            <div id="row">
                <div id="cell1">
                    @if (!Model.HasError)
                    {
                        @if (!Model.HasID)
                        {
                            <span>Zu sendenden Text eingeben:</span>
                        }
                        else
                        {
                            <span>Senden erfolgreich. Ihre ID lautet: <span id="id">@(Model.ID.ToString())</span>.</span>
                        }
                    }
                    else
                    {
                        <span>@($"Die WebApi hat einen Fehler gemeldet. HTTP-Status-Code: {Model.Error}.")</span>
                    }
                </div>
                <div id="cell2">
                    <input type="submit" name="send" value="Senden" />
                </div>
            </div>
        </div>
        <div id="text">
            <textarea asp-for="Text" rows="24" autofocus></textarea>
        </div>
    </div>
</form>
