span {
    color: dimgray;
}

#container {
    width: 600px;
}

#table {
    width: 100%;
    display: table;
    margin-bottom: 3px;
}

#row {
    display: table-row;
}

    #row > div {
        display: table-cell;
        vertical-align: bottom;
    }

#cell1 {
    text-align: left;
}

#cell2 {
    text-align: right;
}

#id {
    font-weight: bold;
    color: steelblue;
}

#text > textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
