span {
    color: dimgray;
}

#container {
    width: 600px;
}

#id > input {
    display: inline;
}

#error {
    height: 50px;
    line-height: 50px;
}

    #error > span {
        color: red;
    }

#text {
    margin-top: 1px;
}

    #text > textarea {
        width: 100%;
        resize: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
