@model ReadViewModel

@section styles {
    <link rel="stylesheet" href="~/css/read.css" />
}

@section scripts {
    <script type="text/javascript" src="~/js/read.js"></script>
    @if (Model.HasText)
    {
        <script>
            selectAll();
        </script>
    }
}

@{
    ViewData["Title"] = "Read";
    ViewData["HeaderImg"] = "images/read.png";
    ViewData["HeaderText"] = "Text aus der Zwischenablage holen";
}

<form asp-controller="Read" method="post">
    <div id="container">
        <div>
            <span>ID eingeben:</span>
        </div>
        <div id="id">
            @if (!Model.HasText)
            {
                <input asp-for="ID" id="input" autofocus />
            }
            else
            {
                <input asp-for="ID" id="input" />
            }
            <input type="submit" name="get" value="Holen" />
        </div>
        <div id="error">
            @if (!Model.HasError)
            {
                <span asp-validation-for="ID"></span>
            }
            else
            {
                <span>@($"Die WebApi hat einen Fehler gemeldet. HTTP-Status-Code: {Model.Error}.")</span>
            }
        </div>
        <div>
            <span>Text aus der Zwischenablage:</span>
        </div>
        <div id="text">
            <textarea id="textarea" rows="24">@Model.Text</textarea>
        </div>
    </div>
</form>
